.container {
  display: flex;
  align-items: center;
  background-color: var(--slate-300);
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.card {
  padding: 15px;
  width: 320px;
  height: 499px;
  border-radius: 20px;
  background-color: var(--white);
}

.card img {
  border-radius: 10px;
  width: 100%;
  height: 288px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 288px;
  padding: 10px;
  margin-top: var(--spacing-200);
  gap: var(--spacing-200);
}

.card h2 {
  color: var(--slate-900);
  font-size: var(--font-medium);
}

.card p {
  font-size: var(--font-small);
  color: var(--slate-500);
  padding: 2px;
}